@page "/"
@layout DefaultLayout
@inject NavigationManager _navigationManager

@*Page title*@
<PageTitle>Optimo Delivery - Home</PageTitle>

<div class="loading">
    <div class="index-container flex-center flex-column-center">
        <span style="font-size: 70px;">
            Optimo
            <button class="index-logo" />
            Delivery
        </span>
        <div style="font-size: 35px;">ADD ORDERS, PLAN ROUTES, DELI VER</div>
    </div>
</div>
